@model OrderManagementMVC.Models.LabelsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Labels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heigth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LabelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
