@model IEnumerable<OrderManagementMVC.Models.LabelsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create new label</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Heigth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heigth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LabelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LabelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LabelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
